/*----------------------------FONDO ANIMADO---------------------------------*/
body>video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    position: fixed;
    top: 50%;
    transform: translateX(-15%) translateY(-50%);

    z-index: -100;

    background-size: cover;
}

/*-------Root Historia del Desarrollo-------*/

:root{
    --fondo-list-group: rgba(0, 0, 0, 0.667);
    --fondo-color-letra-list-group: white;
}

/*----------------------------Container Misión y Visión.---------------------------------*/
.mision{
    background: rgb(3,4,94);
    background: linear-gradient(90deg, rgba(3,4,94,1) 0%, rgba(0,119,182,1) 50%, rgba(0,180,216,1) 100%);
    height: auto;
}

/*----------------------------Container Equipo---------------------------------*/
.equipo{
    background: rgb(0,180,216);
    background: linear-gradient(90deg, rgba(0,180,216,1) 0%, rgba(0,119,182,1) 50%, rgba(3,4,94,1) 100%);
}

.justificar{
    text-align: justify;
    justify-content: center;
}

.misionImg{
    height: auto;
    border-radius: 50%;
}

h1, h2{
    color: rgb(21,15,130);
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/*---Border Radius de los Containers---*/

.borderRadius{
    border-radius: 20px;
}

/*----------------------------Parámetros Historia del Desarrollo---------------------------------*/

.historia{
    background: rgb(3,4,94);
    background: linear-gradient(90deg, rgba(3,4,94,1) 0%, rgba(0,119,182,1) 50%, rgba(0,180,216,1) 100%);
    height: 54vh;
}

.list-group-item{
    background-color: var(--fondo-list-group) !important; 
    color: var(--fondo-color-letra-list-group) !important; 
    border: 1px solid white; 
    transition: 0.5s ease, color 0.3s ease;
    height: 13vh;
}

.list-group-item:hover {
    background: linear-gradient(90deg, rgba(3,4,94,1) 0%, rgba(0,119,182,1) 50%, rgba(0,180,216,1) 100%);
    color: var(--fondo-color-letra-list-group) !important; 
}


.list-group-item:focus {
    outline: none;
    background-color: #00bfff; 
    color: black; 
}

#scrollContainer {
    overflow-y: scroll; 
    scrollbar-width: none; 
}

p, li{
    font-family: 'IBM Plex Mono', monospace;
}