/*----------------------------FONDO ANIMADO---------------------------------*/


body>video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    position: fixed;
    top: 50%;
    transform: translateX(-15%) translateY(-50%);

    z-index: -100;

    background-size: cover;
}


@media (max-width: 1024px) {
    body>video {
        min-width: 120%;
        min-height: 100%;
        transform: translateX(-20%) translateY(-50%);
    }
}


@media (max-width: 767px) {
    body>video {
        min-width: 150%;
        min-height: 100%;
        transform: translateX(-25%) translateY(-50%);
    }
}


/*----------------------------------N A V--------------------------------*/
.navbar-title {

    font-size: 50px;
    font-family: 'VT323', monospace;
    color: rgb(17, 221, 215);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(173, 216, 230, 0.166);

}


@media (max-width: 768px) {
    .navbar-title {
        font-size: 1.5rem;
        margin-top: 10px;
    }
}




:root {
    --navbar-bg: #4a4de986;
    --navbar-link-color: white;
    --navbar-link-hover: #000000;
    --navbar-toggler-bg: #00B4D8;
    --navbar-toggler-hover: #0077B6;
    --dropdown-bg: #0077B6;
    --dropdown-item-color: #CAF0F8;
    --dropdown-item-hover-bg: #5aa1cd;
    --dropdown-item-hover-color: #000000;
}




.navbar {
    background-color: var(--navbar-bg) !important;
    width: 100%;
    height: 30vh;
    margin-block: 15px;
    border-radius: 10px;
    background: rgb(3, 185, 165);
    background: linear-gradient(90deg, rgba(3, 185, 165, 0.48503151260504207) 0%, rgba(10, 93, 147, 0.8883928571428571) 50%, rgba(3, 185, 165, 0.47942927170868344) 100%);
}



.navbar .nav-link {
    color: var(--navbar-link-color) !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, color 0.3s ease;

}


.navbar .nav-link:hover {
    color: var(--navbar-link-hover) !important;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow:
        0 0 30px rgba(16, 226, 253, 0.8),
        0 0 60px rgba(183, 0, 255, 0.7),
        15px 15px 35px rgba(16, 226, 253, 0.5),
        -15px -15px 35px rgba(183, 0, 255, 0.5);
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    transform: scale(1.2);
}


.navbar-toggler {
    background-color: var(--navbar-toggler-bg) !important;
    border: none;
    transition: background-color 0.3s ease-in-out;
}


.navbar-toggler:hover {
    background-color: var(--navbar-toggler-hover) !important;
    background-color: #0000009d;
}


.dropdown-menu {
    background-color: var(--dropdown-bg) !important;
    border: none;
}


.dropdown-item {
    color: var(--dropdown-item-color) !important;
    font-family: 'IBM Plex Mono', monospace !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.dropdown-item:hover {
    background-color: var(--dropdown-item-hover-bg) !important;
    color: var(--dropdown-item-hover-color) !important;

}

.offcanvas.offcanvas-end {
    width: var(--offcanvas-width);
    transform: translateX(100%);
    background-color: #000000a2;
    color: white;
}


.offcanvas-header .btn-close {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;

}


.offcanvas-header .btn-close:hover {
    transform: scale(1.2);
}

/*-----------------B A N N E R--------------------*/

.banner {
    width: 100%;
    overflow: hidden;

}

.banner img {
    width: 100%;
    height: auto;

}

.banner {
    width: 100%;
    /* height: 55vh; */
    overflow: hidden;
    border-radius: 10px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Media query para pantallas grandes */
@media (min-width: 1200px) {
    .banner img {
        height: auto;
        /* Permitir que la altura se ajuste automáticamente */
    }
}

/* Media query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
    .banner img {
        height: auto;
        /* Permitir que la altura se ajuste automáticamente */
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
    .banner img {
        height: auto;
        /* Permitir que la altura se ajuste automáticamente */
    }
}

/*------------------T E X T O--------------------*/

.container-texto {
    background-image: linear-gradient(-225deg, #1605ffb2 0%, #27b4c1b8 48%, #45a0ceb9 100%);
    border-radius: 20px;
    padding: 28px;
    margin-block: 55px;
    transition: transform 0.5s ease, color 0.3s ease;
}


.container-texto:hover {
    border: 2px solid white;
    transform: scale(1.1);
}

.container-texto>p {
    text-align: justify;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*----------------C A R R U S E L----------------*/


/* Estilos para el contenedor general */
.container-xxl {
    /* max-width: 100%; */
    padding: 0;

}

/* Estilos para los indicadores del carrusel */
.carousel-indicators button {
    background-color: #ffffff;
    /* Color de los indicadores */
}

.carousel-indicators .active {
    background-color: #fff;
    /* Color del indicador activo */
}



/* Estilos para los subtítulos del carrusel */
.carousel-caption h5 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: auto;
    font-family: 'IBM Plex Mono', monospace;
    /* Sombra para el texto */
}

.carousel-caption p {
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    padding: auto;
    font-family: 'IBM Plex Mono', monospace;
    /* Sombra para el texto */
}

/* Estilos para los controles del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
    /* Cambia el color de los íconos */
}

/* Estilos responsivos para ajustar el carrusel en diferentes tamaños de pantalla */
@media (max-width: 768px) {
    .carousel-caption h5 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 1rem;
    }
}


/*-------------------C A R D S-------------------*/



:root {
    --card-bg-color: #00000099;
    /* Color de fondo de la tarjeta */
    --card-border-radius: 15px;
    /* Radio del borde */
    --card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra de la tarjeta */
    --card-title-color: white;
    /* Color del título */
    --card-text-color: white;
    /* Color del texto */
    --card-img-border-radius: 15px;
    /* Radio del borde de la imagen */
    --card-padding: 20px;
    /* Espaciado interno de la tarjeta */
}

.container-texto2 {
    padding: 20px;
    margin-block: 20px;
}

.card {
    background-color: var(--card-bg-color) !important;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    padding: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    border: 2px solid skyblue;
    box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.794);
}

.card-image img {
    width: 100%;
    height: 60vh;
    border-radius: var(--card-img-border-radius);
    object-fit: cover;
}


/* Media query para pantallas grandes */
@media (min-width: 1200px) {
    .card-image img {
        height: 60vh;
        /* Ajusta la altura para pantallas grandes */
    }
}

/* Media query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
    .card-image img {
        height: 50vh;
        /* Ajusta la altura para pantallas medianas */
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
    .card-image img {
        height: 40vh;
        /* Ajusta la altura para pantallas pequeñas */
    }
}

.card-body {
    padding: var(--card-padding);
}

.card-title {
    color: var(--card-title-color) !important;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

.card-text {
    color: var(--card-text-color);
    font-size: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}


/*------------------F O O T E R------------------*/


footer {
    background: linear-gradient(90deg, rgba(3, 185, 165, 0.48503151260504207) 0%, rgba(10, 93, 147, 0.8883928571428571) 50%, rgba(3, 185, 165, 0.47942927170868344) 100%);
    border-radius: 15px;
    margin-block: 20px;
}


footer h3,
footer h4 {
    font-size: 45px;
    font-family: 'VT323', monospace;
    color: rgb(17, 221, 215);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(173, 216, 230, 0.166);
}

#docentes-p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 17px;
    font-family: 'IBM Plex Mono', monospace;

}


.col-md-3 a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}



footer .col-md-3>a:hover {
    color: black;
    border-radius: 10px;
    text-decoration: underline;
}


.bi:hover {
    transform: scale(1.1);
}


.text-center {
    font-size: 20px;
    color: #d1d1d1;
    font-family: 'IBM Plex Mono', monospace;
}



/*--Iconos--*/
.iconos-redes {
    max-width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
}


.iconos-redes ul {
    /* padding: 1rem; */
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.iconos-redes ul li {
    cursor: pointer;
}

.svg {
    transition: all 0.3s;
    padding: 1rem;
    height: 55px;
    width: 55px;
    border-radius: 100%;
    color: rgb(17, 221, 215);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(173, 216, 230, 0.166);
    fill: currentColor;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
}

.text {
    opacity: 0;
    border-radius: 5px;
    /* padding: 5px; */
    transition: all 0.3s;
    color: rgb(6, 6, 6);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(173, 216, 230, 0.166);
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 9999;
    box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
        -10px 0 1px rgba(153, 153, 153, 0.2),
        inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
}

/*isometric prooyection*/
.iso-pro {
    transition: 0.5s;
}

.iso-pro:hover a>.svg {
    transform: translate(15px, -15px);
    border-radius: 100%;
}

.iso-pro:hover .text {
    opacity: 1;
    transform: translate(25px, -2px) skew(-5deg);
}

.iso-pro:hover .svg {
    transform: translate(5px, -5px);
}

.iso-pro span {
    opacity: 0;
    position: absolute;
    color: #1877f2;
    border-color: #1877f2;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
        inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 60px;
    width: 60px;
}

.iso-pro:hover span {
    opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
    opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
}

.iso-pro:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}


/*------------------------M O D A L----------------------------*/

.modal-content {
    background: rgba(4, 10, 21, 0.9) !important;
    border-radius: 15px;
    color: #e0e0e0 !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    font-family: 'IBM Plex Mono', monospace;
}

/* Título del modal */
.modal-title {
    font-family: 'VT323', monospace;
    font-size: 28px;
    color: rgb(17, 221, 215);
    text-shadow: 0 0 8px rgba(17, 221, 215, 0.8);
}

/* Cuerpo del modal */
.modal-body {
    background: rgb(11, 18, 29) !important;
    border-radius: 10px;
    padding: 20px;
    color: #e0e0e0 !important;
}

.modal-body a {
    color: #17e2f1;
}

.modal-body p {
    color: #e0e0e0 !important;
}

.modal-body .form-label {
    color: #a0a0a0;
    font-weight: bold;
}

.modal-body .form-control {
    background: rgb(30, 33, 40);
    border: 1px solid rgba(60, 180, 180, 0.5);
    color: #0f0b0b;
    border-radius: 10px;
    font-family: 'IBM Plex Mono', monospace;
}

.modal-body .form-control:focus {
    border-color: rgb(17, 221, 215);
    box-shadow: 0 0 12px rgba(17, 221, 215, 0.6);
}


.modal-body .btn {
    background: linear-gradient(90deg, #0acffe 0%, #0c88a1 100%);
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-body .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(3, 185, 165, 0.8);
}

/* Footer del modal */
.modal-footer {
    background: rgba(4, 10, 21, 1);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0 0 15px 15px;
}

.modal-footer .btn {
    background: linear-gradient(90deg, #0acffe 0%, #0c88a1 100%);
    border: none;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modal-footer .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(3, 185, 165, 0.8);
}