/* Video de fondo */
body > video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    transform: translateX(-15%) translateY(-50%);
    z-index: -100;
    background-size: cover;
}

/* Estilo del contenedor principal */
.container {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
}

/* Título */
h1 {
    font-family: 'VT323', monospace;
    color: rgb(17, 221, 215);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5),
        0 0 8px rgba(173, 216, 230, 0.4);
    font-size: 2.5em;
    margin-bottom: 30px;
}

/* Estilo de la tabla */
.table {
    color: #ffffff; 
    background-color: rgba(30, 30, 30, 1);
    border: 1px solid #ddd;
}

.table th {
    background-color: rgba(10, 93, 147, 0.8);
    color: #f8f8f8;
    font-family: 'IBM Plex Mono', monospace;
}

.table td {
    background-color: rgba(50, 50, 50, 1);
    text-align: center;
    color: #e0e0e0; 
}

.table-hover tbody tr:hover {
    background-color: rgba(60, 60, 60, 1); 
}

/* Buscador */
#searchInput {
    background-color: rgba(50, 50, 50, 1);
    color: #e0e0e0; 
    border: 1px solid #17ddd7; 
    font-family: 'IBM Plex Mono', monospace;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

#searchInput::placeholder {
    color: #a9a9a9; 
}

#searchInput:focus {
    border-color: rgb(17, 221, 215);
    box-shadow: 0 0 12px rgba(17, 221, 215, 0.6);
}

/* Selección de cursos */
#selectInput {
    background-color: rgba(50, 50, 50, 1);
    color: #e0e0e0; 
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    border-radius: 5px;
}

#selectInput span {
    background-color: rgb(37, 37, 37);
    color: #e0e0e0; 
    border: 1px solid #17ddd7; 
    padding: 10pxs;
}

#selectInput select {
    background-color: rgba(50, 50, 50, 1);
    color: #e0e0e0; 
    border: 1px solid #17ddd7; 
    padding: 10px;
}


#selectInput select:focus {
    border-color: rgb(17, 221, 215);
    box-shadow: 0 0 12px rgba(17, 221, 215, 0.6);
}


/* Botones de acción */
.btn-warning {
    color: #212529;
    background-color: #ffc107; 
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger {
    color: #fff; 
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333; 
    border-color: #bd2130;
}

.btn-primary {
    background-color: #17ddd7;
    border-color: #0a5d93;
    color: #000; 
}

.btn-primary:hover {
    background-color: #0a5d93;
    border-color: #17ddd7;
    color: #fff; 
}

/* Estilo para el Modal */
.custom-modal {
    background-color: rgba(30, 30, 30, 0.95);
    color: #e0e0e0;
    border: 1px solid #17ddd7;
    box-shadow: 0 0 15px rgba(17, 221, 215, 0.8);
}

.custom-modal .modal-header {
    border-bottom: 1px solid #17ddd7;
}

.custom-modal .modal-footer {
    border-top: 1px solid #17ddd7;
}

/* Botones */
.btn-primary:hover {
    background-color: #0a5d93;
    color: white;
}

.btn-danger:hover {
    background-color: #d9534f;
}

/* Responsividad */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }
    h1 {
        font-size: 20px;
    }
}
