/*----------------------------FONDO ANIMADO---------------------------------*/
body>video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    position: fixed;
    top: 50%;
    transform: translateX(-15%) translateY(-50%);

    z-index: -100;

    background-size: cover;
}

/*----------------------------Container Misión y Visión.---------------------------------*/
.mision{
    background: rgb(3,4,94);
    background: linear-gradient(90deg, rgba(3,4,94,1) 0%, rgba(0,119,182,1) 50%, rgba(0,180,216,1) 100%);
    height: auto;
}

/*----------------------------Container Equipo---------------------------------*/
.equipo{
    background: rgb(0,180,216);
    background: linear-gradient(90deg, rgba(0,180,216,1) 0%, rgba(0,119,182,1) 50%, rgba(3,4,94,1) 100%);
}

.justificar{
    text-align: justify;
    justify-content: center;
}

#misionImg{
    height: auto;
    border: 5px solid black;
    border-radius: 50%;
}

.titulo{
    color: rgb(21,15,130);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*----------------------------Border Radius de las Imagenes---------------------------------*/
.borderRadius{
    border-radius: 20px;
}

/*----------------------------Parámetros Linea de Tiempo---------------------------------*/
.marginLinea{
    margin-bottom: 10%;
}

.marginLinea2{
    margin-top: 10%;
}

.flexlinea{
    display: grid;
    grid-template-columns: 49% 2% 49%;
    height: 200px;
}

.blue{
    color: rgba(0,119,182,1);
    background-color: rgba(0,119,182,1);
}

.heightLinea{
    height: 5%;
}
